@import "tailwindcss";

@font-face {
  font-family: 'Times';
  src: url('/public/fonts/Times\ Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-times: "Times", sans-serif; 
}

:root {
  --font-times: 'Times', sans-serif;
}


body {
  box-sizing: border-box;
  font-size: 16px;
  /* font-family: var(--font-times); */
}

.container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  padding: 12px 20px;
}

